#proDetail
{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: auto;
    margin-bottom:30px ;
    /* border: 2px solid black; */
}
#proImage
{
    width: 50%;
    margin-right: 30px;
}

#proData
{
 width: 50%;
 margin-top: 55px;
}